<!-- BEGIN: main -->
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr class="text-center">
                <th class="text-nowrap">1</th>
                <th class="text-nowrap">1</th>
                <th class="text-nowrap">1</th>
                <th class="text-nowrap">1</th>
                <th class="text-nowrap">1</th>
                <th class="text-center text-nowrap">1</th>
                <th class="text-center text-nowrap">1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
                <td class="text-center">1</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- END: main -->
